<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
            
        <thead>
          <tr>
            <th>Ability</th>
            <th>Score</th>
          </tr>
        </thead>

        <tbody>
          <tr>
              <td>Constitution</td>
              <td> <%=char.abilityScore.con%></td>
          </tr>
          <tr>
              <td>Dexterity</td>
              <td><%=char.abilityScore.dex%></td>
          </tr>
          <tr>
              <td>Wisdom</td>
              <td><%=char.abilityScore.wis%></td>
          </tr>
          <tr>
              <td>Intellect</td>
              <td><%=char.abilityScore.int%></td>
          </tr>
          <tr>
              <td>Strength</td>
              <td><%=char.abilityScore.str%></td>
          </tr>
          <tr>
              <td>Luck</td>
              <td><%=char.abilityScore.luck%></td>
          </tr>
          <tr>
              <td>Charisma</td>
              <td><%=char.abilityScore.char%></td>
          </tr>

        </tbody>
      </table>
</body>
</html>